/* for small cell phones*/

@media(max-width: 640px){
  nav h1 a {
    white-space:pre-line;
    font-size: 16pt;
  }
  /*filter responsive css*/
  .filter-options {
    height: 70px;
  }
  .filter-options h2 {
    text-align: left;
    padding-top: 12px;
  }
  .filter-options select {
    font-size: 10pt;
    margin-left: 20px;
    margin-top: 5px;
    width:150px;
  }
}

@media (min-width: 641px){
  .filter-options{
    height: 80px
  }

  #restaurants-list li {
    width: 39%;
    display: inline-block;
  }
  #restaurants-list li a {
    display: block;
  }

}
